In [23]:
import pandas as pd
import geopandas as gpd

In [24]:
#analisar gt_class ou monitoring_class

In [62]:
geopackage_path = "/agrilearn_app/datasets/baselines/agro_amazonia/geopackage/fields_monitoring_agro-amazonia_query_18_03_25_MVP_INPUT.gpkg"
df = gpd.read_file(geopackage_path)

In [63]:
df['monitoring_class'].value_counts()

monitoring_class
SOYBEAN    4764
Name: count, dtype: int64

In [64]:
df.head()

,interest_area_id,id,period,monitoring_class,automatic_emergence_date,automatic_emergence_date_score,automatic_class,automatic_class_score,automatic_senescence_date,automatic_senescence_date_score,automatic_harvest_date,automatic_harvest_date_score,geometry
0,124732,391631,2024/2025,SOYBEAN,None,NaN,None,NaN,None,NaN,None,NaN,"MULTIPOLYGON (((-54.92679 -20.35969, -54.92644..."
1,124733,404011,2024/2025,SOYBEAN,None,NaN,None,NaN,None,NaN,None,NaN,"MULTIPOLYGON (((-54.89995 -20.38065, -54.89985..."
2,124734,390251,2024/2025,SOYBEAN,None,NaN,None,NaN,None,NaN,None,NaN,"MULTIPOLYGON (((-54.91612 -20.42621, -54.91628..."
3,124734,391643,2024/2025,SOYBEAN,None,NaN,None,NaN,None,NaN,None,NaN,"MULTIPOLYGON (((-54.91559 -20.41638, -54.91549..."
4,124734,391642,2024/2025,SOYBEAN,None,NaN,None,NaN,None,NaN,None,NaN,"MULTIPOLYGON (((-54.91388 -20.41364, -54.91388..."

In [57]:
import sys
sys.path.append("/agrilearn_app/agrilearn/submodules/commons/")
from agrilearn.crop_classification.metrics import generate_classification_report, generate_confusion_matrix, plot_confusion_matrix_by_sns, calculate_omission_inclusion
from agrilearn.crop_classification import yaml_utils
from sklearn.metrics import classification_report, confusion_matrix

monitoring_class
SOYBEAN    4764
Name: count, dtype: int64

In [21]:
classification_report_crop = generate_classification_report(
    df, label_true='monitoring_class', label_pred=LABEL_PRED
)
classification_report_crop

monitoring_class
SOYBEAN    100.0
Name: proportion, dtype: float64

,CORN,COTTON,SOYBEAN,SUGAR_CANE,WHEAT,accuracy,macro avg,weighted avg
precision,0.0,0.0,1.000000,0.0,0.0,0.933997,0.200000,1.000000
recall,0.0,0.0,0.933997,0.0,0.0,0.933997,0.186799,0.933997
f1-score,0.0,0.0,0.965872,0.0,0.0,0.933997,0.193174,0.965872
support,0.0,0.0,5924.000000,0.0,0.0,0.933997,5924.000000,5924.000000

In [22]:
classification_report_crop = generate_classification_report(
    df, label_true='gt_class', label_pred=LABEL_PRED
)
classification_report_crop

gt_class
SOYBEAN    97.822417
CORN        2.177583
Name: proportion, dtype: float64

,CORN,COTTON,SOYBEAN,SUGAR_CANE,WHEAT,accuracy,macro avg,weighted avg
precision,0.449438,0.0,0.999277,0.0,0.0,0.953579,0.289743,0.987304
recall,0.930233,0.0,0.954098,0.0,0.0,0.953579,0.376866,0.953579
f1-score,0.606061,0.0,0.976165,0.0,0.0,0.953579,0.316445,0.968106
support,129.000000,0.0,5795.000000,0.0,0.0,0.953579,5924.000000,5924.000000

In [12]:
classification_report_crop

,CORN,COTTON,PASTURE,RICE,SOYBEAN,SUGAR_CANE,WHEAT,accuracy,macro avg,weighted avg
precision,0.657143,1.000000,0.0,1.0,0.720000,0.691176,1.000000,0.78655,0.724046,0.699847
recall,0.938776,0.901961,0.0,1.0,0.972973,0.959184,0.780000,0.78655,0.793270,0.786550
f1-score,0.773109,0.948454,0.0,1.0,0.827586,0.803419,0.876404,0.78655,0.746996,0.730066
support,49.000000,51.000000,50.0,19.0,74.000000,49.000000,50.000000,0.78655,342.000000,342.000000

In [13]:
cm_df = generate_confusion_matrix(
    df, label_true='gt_class', label_pred=LABEL_PRED
)

Generating confusion matrices

In [14]:
cm_df

            CORN  COTTON  PASTURE  RICE  SOYBEAN  SUGAR_CANE  WHEAT
CORN          46       0        0     0        1           2      0
COTTON         0      46        0     0        5           0      0
PASTURE       13       0        0     0       22          15      0
RICE           0       0        0    19        0           0      0
SOYBEAN        2       0        0     0       72           0      0
SUGAR_CANE     2       0        0     0        0          47      0
WHEAT          7       0        0     0        0           4     39

In [15]:
omission = calculate_omission_inclusion(
    df, label_true='gt_class', label_pred=LABEL_PRED
)

In [16]:
omission

,class,data_count,omission_count,omission_percentage,inclusion_count,inclusion_percentage
0,CORN,49,3,6.122449,24,34.285714
1,COTTON,51,5,9.803922,0,0.000000
2,PASTURE,50,50,100.000000,0,100.000000
3,RICE,19,0,0.000000,0,0.000000
4,SOYBEAN,74,2,2.702703,28,28.000000
5,SUGAR_CANE,49,2,4.081633,21,30.882353
6,WHEAT,50,11,22.000000,0,0.000000